In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('spam.csv',encoding='latin-1')

In [5]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [7]:
df.rename(columns={'v1':'label','v2':'text'},inplace=True)
df

,label,text,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [8]:
columns=['text','label']
df=df[columns]

In [9]:
df

                                                   text label
0     Go until jurong point, crazy.. Available only ...   ham
1                         Ok lar... Joking wif u oni...   ham
2     Free entry in 2 a wkly comp to win FA Cup fina...  spam
3     U dun say so early hor... U c already then say...   ham
4     Nah I don't think he goes to usf, he lives aro...   ham
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...  spam
5568              Will Ì_ b going to esplanade fr home?   ham
5569  Pity, * was in mood for that. So...any other s...   ham
5570  The guy did some bitching but I acted like i'd...   ham
5571                         Rofl. Its true to its name   ham

[5572 rows x 2 columns]

In [10]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['label']=le.fit_transform(df['label'])
df

C:\Users\djdeb\AppData\Local\Temp\ipykernel_12640\3257931024.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label']=le.fit_transform(df['label'])

                                                   text  label
0     Go until jurong point, crazy.. Available only ...      0
1                         Ok lar... Joking wif u oni...      0
2     Free entry in 2 a wkly comp to win FA Cup fina...      1
3     U dun say so early hor... U c already then say...      0
4     Nah I don't think he goes to usf, he lives aro...      0
...                                                 ...    ...
5567  This is the 2nd time we have tried 2 contact u...      1
5568              Will Ì_ b going to esplanade fr home?      0
5569  Pity, * was in mood for that. So...any other s...      0
5570  The guy did some bitching but I acted like i'd...      0
5571                         Rofl. Its true to its name      0

[5572 rows x 2 columns]

# Text Preprocessing

In [18]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import string

# Download required NLTK data if not already downloaded
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

def preprocess_text(sentence):
    # Convert to lowercase
    sentence = sentence.lower()
    
    # Remove punctuation
    sentence = sentence.translate(str.maketrans('', '', string.punctuation))
    
    # Remove extra whitespaces
    sentence = ' '.join(sentence.split())
    
    # Tokenize the sentence
    tokens = word_tokenize(sentence)
    
    # Lemmatize the tokens
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(token) for token in tokens]
    
    # Join the tokens back into a sentence
    sentence = ' '.join(tokens)
    
    return sentence

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\djdeb\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\djdeb\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\djdeb\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [20]:
sentence = "This is not an example sentence. 1945"
preprocessed_sentence = preprocess_text(sentence)
print(preprocessed_sentence)

this is not an example sentence 1945

In [21]:
df['text']=df['text'].apply(preprocess_text)

C:\Users\djdeb\AppData\Local\Temp\ipykernel_12640\3726493619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text']=df['text'].apply(preprocess_text)

In [22]:
df

                                                   text  label
0     go until jurong point crazy available only in ...      0
1                               ok lar joking wif u oni      0
2     free entry in 2 a wkly comp to win fa cup fina...      1
3           u dun say so early hor u c already then say      0
4     nah i dont think he go to usf he life around h...      0
...                                                 ...    ...
5567  this is the 2nd time we have tried 2 contact u...      1
5568                will ì b going to esplanade fr home      0
5569    pity wa in mood for that soany other suggestion      0
5570  the guy did some bitching but i acted like id ...      0
5571                            rofl it true to it name      0

[5572 rows x 2 columns]

In [23]:
import pickle
pickle.dump(df,open('sms_cleanedData.pkl','wb'))

In [35]:
import tensorflow as tf

# Load the SavedModel
loaded_model = tf.saved_model.load('sms-spam-model')

# Get the actual model
exact_model = loaded_model.signatures['serving_default']

# Now you can use the exact_model for inference or other purposes

In [50]:
import tensorflow as tf

In [51]:
import keras.src.legacy_tf_layers

In [52]:
import pickle

with open('tokenizer (1).pkl', 'rb') as f:
    tokenizer = pickle.load(f)

ModuleNotFoundError: No module named 'keras.src.legacy'

In [54]:
import tensorflow as tf
print(tf.__version__)

2.15.0

In [55]:
!pip install --upgrade tensorflow

^C

In [ ]:
# Run the model on the padded input
output = exact_model(padded_input)

# Get the predicted value
predicted_value = output['output'].numpy()  # Assuming the output is a dictionary with an 'output' key

print(predicted_value)